@import url('https://fonts.googleapis.com/css2?family=Rum+Raisin&family=Source+Sans+3:wght@400;900&display=swap');

header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 15px;
}

h1, h2{
    font-family: 'Rum Raisin', sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    padding-bottom : 35px;
    border-bottom : 1px solid orange
}

footer{
    background-color: black;
    padding :15px;

    *{
        color : white; 
        font-family: 'Source Sans Pro', sans-serif; 
        font-size: 22px;
        font-weight: 900;
        text-align : center
    }
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    margin : auto;
    gap : 20px;
    row-gap: 30px;
    margin-top : 25px;
    margin-bottom : 25px;

    input{
        width : calc(100% - 10px); 
        border-radius : 3px;
        padding : 5px ;
        border : 1px solid
    }

    input[type="submit"]{
        background: #EE7F43;
        color:#FFF;
        text-align: center;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        grid-column: 1/-1;
        width : fit-content;
        margin : auto;
        padding : 5px 23px
    }
}

#section-panier{

    max-width: 1440px;
    padding : 0 15px;
    margin : auto;

    #total-title{
        text-align: end;
        font-family: 'Rum Raisin', sans-serif;
        font-size: 35px;
    }

    #resume-commande{
        text-align: end;
        font-size: 32px;
    }
}

#panier{
    min-height : 200px;

    .article-article{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom : 15px; 
        
    }

    img{
        width : 150px
    }

    h3{
        font-family: 'Rum Raisin', sans-serif;
        font-size: 30px;
        width : 300px;
    }

    p{
        font-size: 20px;
    }

    .suppr{
        text-decoration:underline;
    }

    #empty-cart{
        text-align: center;
        font-size: 30px;
        padding-top : 80px;
    }
}

dialog{
    padding: 39px 119px;
    font-size: 20px;
    text-align: center;

    button{
        background: #EE7F43;
        color:#FFF;
        text-align: center;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 32px;
        border : none;
        padding : 5px 23px
    }
}